body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

a i {
    color: #22a1f0;
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    font-weight: 900;
}

h4,
h5,
h6 {
    font-weight: 700;
}

.section-heading {
    text-align: center;
}

.section-heading::first-letter {
    color: #22a1f0;
}

.bg-primary {
    background-color: #0F0A0A !important;
}

.text-primary {
    color: #0F0A0A !important;
}

.btn-primary {
    background-color: #22a1f0 !important;
    border-color: #22a1f0 !important;
    color: #fafaff !important;
}

.btn-primary:hover {
    background-color: transparent !important;
    color: #22A1f0 !important;
}

.navbar {
    background: #fafaff;
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link,
.navbar-brand {
    color: #0F0A0A;
}

.about .section-heading {
    text-align: right;
}

.pricing {
    background-color: #22a1f0;
}

.pricing .section-heading {
    color: #fafaff;
}

.pricing .section-heading::first-letter {
    color: #fafaff;
}

.pricing .card {
    border-radius: 0;
    border-top: none;
}

.promote {
    transform: scale(1.07);
    z-index: 1;
}

.list-unstyled {
    border-bottom: 1px solid #22A1f0;
}

list-unstyled>li {
    padding: 6px 0px;
}

.single-service {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    transition: 0.3s;
    padding: 30px 20px;
    background-color: #fafaff;
}

.single-service:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    transition: 0.3s;
    width: 0;
    height: 0;
    background-color: #22a1f0;
}

.single-service:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    transition: 0.3s;
    width: 0;
    height: 0;
    background-color: #22a1f0;
}

.single-service:hover:after,
.single-service:hover:before {
    width: 50%;
    height: 2px;
}

.single-service i {
    font-size: 1.2rem;
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    line-height: 60px;
    margin-bottom: 30px;
    border-radius: 50%;
    transition: 0.3s;
}

.single-service i:hover {
    background-color: #22a1f0;
    color: #fafaff;
}

.single-service h4 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.single-service p {
    font-size: 0.9rem;
    line-height: 1.8;
}

.team .card-img-top {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}

.team .card {
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.team .card-body {
    position: absolute;
    bottom: -100%;
    width: 100%;
    background-color: #22A1f0;
    transition: 0.5s;
    color: #fafaff;
}

.team .card:hover>.card-body {
    bottom: 0%;
}

.team .card-title {
    font-size: 2rem;
}

.call-to-action {
    background-color: #0F0A0A;
    color: #fafaff;
}

.footer {
    background-color: #0F0A0A;
    color: #fafaff;
}

.footer a {
    color: #fafaff !important;
}

.footer .navbar-brand {
    color: #22a1f0 !important;
}

@media(max-width:900px) {
    .navbar .nav-item {
        display: block;
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }
    body {
        text-align: center !important;
    }
    .about .section-heading {
        text-align: center;
        margin-top: 20px;
    }
    .team .card {
        margin: 0 auto;
    }
}