/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

body {
  font-family: "Open Sans", sans-serif;
  /*padding:0;*/
  /*margin: 0;*/
  /*box-sizing: border-box;*/
  height: 3000px;
}

.navbar-brand {
  color: #fff !important;
  font-size: 30px;
}

.navbar-brand span {
  color: #38ddbb;
}

.navbar-nav {
  margin-right: 25px;
}

.nav-link {
  color: #fff !important;
  font-size: 20px;

  margin-left: 20px;
}

.nav-link:hover {
  border-bottom: 2px solid #38ddbb;
}

.scrolled {
  background: rgb(0, 0, 0.6);
}

.header {
  background: url("images/one.jpg") no-repeat top center;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #fff;
  overflow: hidden;
}
@media (max-width: 991px) {
  .header {
    height: 125vh;
  }
}
.centering-vh {
  margin-top: 25vh;
}
@media (max-width: 991px) {
  .centering-vh {
    margin-top: 100px;
  }
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.uppercase {
  text-transform: uppercase;
}

.header h1 {
  font-weight: bold;
  font-size: 60px;
}

.header h1 span {
  font-weight: normal;
  color: #38ddbb;
}

.header h1 ~ .lead {
  font-size: 30px;
}
@media (max-width: 991px) {
  .header .text-center-xs {
    text-align: center;
  }
}
.header h1 ~ .lead:after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #fff;
  margin: 25px 0;
}

@media (max-width: 991px) {
  .header h1 ~ .lead:after {
    margin: 25px auto;
  }
}
.header button {
  background: transparent;
  padding: 5px 15px;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .header button {
    display: block;
    margin: 30px auto;
  }
}

.header form {
  width: 360px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.header form .form-control {
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #eee;
  width: 80%;
  margin: 0 auto 40px;
}

.header form h2 {
  background-color: #f5f5f5;
  color: #333;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}

.header form h2 span {
  color: #38ddbb;
}

.header form input[type="submit"] {
  background-color: #38ddbb;
  color: #ffffff;
  border-radius: 0;
  padding: 15px;
}

.header form input[type="submit"]:hover {
  color: #333333;
}

.social-section {
  padding: 10px;
  box-shadow: -2px -5px 13px #000;
}

@media (max-width: 991px) {
  .social-section {
    text-align: center;
  }
}
.social-section h4 {
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  .social-section h4 {
    margin-bottom: 10px;
  }
}

.social-section p {
  color: #a1a1a1;
  line-height: 1.4;
}

.social-section i {
  color: #7c7c7c;
  margin: 20px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 991px) {
  .social-section i {
    margin: 10px 15px;
  }
}

.social-section .fa-facebook:hover {
  color: #3b5998;
}

.social-section .fa-twitter:hover {
  color: #1da1f2;
}

.social-section .fa-google-plus:hover {
  color: #dd4b39;
}

.social-section .fa-instagram:hover {
  color: #c13584;
}

.social-section .fa-linkedin:hover {
  color: #0077b5;
}

.social-section .fa-behance:hover {
  color: #1769ff;
}

.social-section .fa-youtube:hover {
  color: #ff0000;
}

.tabs-section {
  padding: 50px 0;
  background-color: #f5f5f5;
}

@media (max-width: 991px) {
  .tabs-section {
    text-align: center;
  }
}

.tabs-section .tab-switch li {
  /*padding: 10px;*/
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #fff;
  height: 110px;
  line-height: 110px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.tabs-section .tab-switch li.selected {
  background-color: #38ddbb;
}

.tabs-section .tab-content div:not(.tab-one) {
  display: none;
}

.tabs-section .tab-content h3 {
  margin-top: 0;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .tabs-section .tab-content h3 {
    margin: 30px 0 20px;
  }
}

@media (max-width: 991px) {
  .head-border-center:after {
    margin: 25px auto;
  }
}

.tabs-section .tab-content .lead {
  line-height: 1.6;
  font-size: 18px;
  color: #7e7e7e;
}

.tabs-section .tab-content button {
  background-color: #38ddbb;
  color: #fff;
}

.sublist {
  padding: 80px 0;
}
@media (max-width: 991px) {
  .sublist {
    text-align: center;
  }
}

.head-border:after {
  content: "";
  display: block;
  width: 65px;
  height: 3px;
  background-color: #38ddbb;
  margin: 20px 0;
}
@media (max-width: 991px) {
  .head-border:after {
    margin: 25px auto;
  }
}
.sublist .sublist-head {
  font-weight: bold;
}

.sublist .sublist-desc {
  line-height: 1.4;
  color: #a1a1a1;
  margin-bottom: 30px;
}

.sublist .list-icon {
  margin-bottom: 30px;
  overflow: hidden;
}

.sublist .list-icon i {
  width: 40px;
  height: 40px;
  color: #38ddbb;
  border: 2px solid #38ddbb;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .sublist .list-icon i {
    float: none !important;
    margin: 10px 0 10px 0;
  }
}

.sublist .list-icon .text-info {
  width: calc(100% - 80px);
}
@media (max-width: 991px) {
  .sublist .list-icon .text-info {
    float: none !important;
    width: 100%;
  }
}

.sublist .list-icon .text-info h4 {
  font-weight: bold;
  color: #000;
}

.sublist .list-icon .text-info .para {
  color: #a1a1a1;
  line-height: 1.4;
}

.standard-picture {
  padding: 80px 0;
  background-color: #f5f5f5;
}

@media (max-width: 991px) {
  .standard-picture {
    text-align: center;
  }
}

.standard-picture .standard-head {
  font-weight: bold;
}

.standard-picture .standard-desc {
  line-height: 1.4;
  color: #a1a1a1;
  margin-bottom: 30px;
}

.awesome {
  padding: 80px 0;
}

.awesome .awesome-head {
  font-weight: bold;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.head-border-center:after {
  content: "";
  display: block;
  width: 75px;
  height: 3px;
  background-color: #38ddbb;
  margin: 20px auto;
}

.awesome .awesome-desc {
  margin-bottom: 80px;
  color: #a1a1a1;
}

.awesome i {
  width: 70px;
  height: 70px;
  color: #38ddbb;
  border: 2px solid #38ddbb;
  border-radius: 50%;
  line-height: 68px;
  text-align: center;
}

.awesome .feat-head {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.awesome .feat-info {
  color: #a1a1a1;
}

.awesome .fa-keyboard-o {
  font-size: 40px;
}

.price-options {
  padding: 80px 0;
  background-color: #f5f5f5;
}

.price-options .price-head {
  font-weight: bold;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.price-options .price-desc {
  margin-bottom: 80px;
  color: #a1a1a1;
}

.price-options .price-box {
  background-color: #fff;
}
@media (max-width: 991px) {
  .price-options .price-box {
    margin-bottom: 30px;
  }
}

.price-options .price-box .plan-head {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  margin: 0;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.price-options .price-box .option-price {
  background-color: #333;
  padding: 10px 0 20px;
}

.price-options .option-price .price {
  font-size: 70px;
  color: #fff;
  display: block;
  font-weight: bold;
}

.price-options .option-price .price .usd {
  font-size: 30px;
  font-weight: bold;
}

.price-options .option-price .period {
  color: #adadad;
  font-style: italic;
  font-weight: bold;
}

.price-options .option-price {
  border-bottom: 5px solid #38ddbb;
}

.price-options .configration li {
  padding: 10px;
  border-bottom: 1px solid #f5f5f5;
  text-transform: uppercase;
  color: #8c8c8c;
}

.price-options .most-p {
  background-color: #38ddbb;
  color: #fff;
  padding: 5px 10px 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.price-options .basic,
.price-options .enterprise {
  margin-top: 35px;
}

.testimonials {
  padding: 80px 0;
}

.testimonials .testimonials-head {
  font-family: "Raleway", sans-serif;
}

.testimonials .testimonials-desc {
  margin-bottom: 50px;
}

.testimonials .client-say {
  background-color: #f5f5f5;
  color: #8e8f93;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

.testimonials .client-say:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px;
  border-color: #f5f5f5 transparent transparent;
  position: absolute;
  bottom: -28px;
  left: 16px;
}

.testimonials .media-body {
  margin-left: 15px;
}
@media (max-width: 991px) {
  .testimonials .media {
    margin-bottom: 30px;
  }
}
.testimonials .media-heading {
  font-weight: bold;
}
.stylish {
  background: url("images/hotel3.jpg") no-repeat top center;
  background-size: cover;
  min-height: 320px;
  position: relative;
  color: #fff;
}
.stylish .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 60px 0;
}
.stylish .stylish-desc {
  color: #a9aaac;
}
.stylish .stylish-btn {
  margin: 30px auto;
  display: block;
  padding: 8px 20px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
}
.contact {
  padding: 80px 0;
}

.contact .contact-desc {
  color: #a9aaac;
  margin-bottom: 40px;
}

.contact .contact-btn {
  margin: 30px auto;
  display: block;
  padding: 8px 20px;
  border: 2px solid #fff;
  color: #fff;
  background: #38ddbb;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}
.contact form {
  margin-left: 23%;
}
@media (max-width: 991px) {
  .contact form {
    margin: 0;
  }
}
.contact form input,
.contact form textarea {
  width: 40rem;
}
@media (max-width: 991px) {
  .contact form input,
  .contact form textarea {
    width: 29rem;
    margin: auto 0;
  }
}
.contact form input,
.contact form textarea {
  margin-bottom: 20px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
}
.contact form textarea {
  height: 158px;
  border-bottom: 1px solid #ccc;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-size: 18px;
}
.footer .fa-facebook:hover {
  color: #3b5998;
}

.footer .fa-twitter:hover {
  color: #1da1f2;
}

.footer .fa-google-plus:hover {
  color: #dd4b39;
}

.footer .fa-instagram:hover {
  color: #c13584;
}

.footer .fa-linkedin:hover {
  color: #0077b5;
}

.footer .fa-behance:hover {
  color: #1769ff;
}

.footer .fa-youtube:hover {
  color: #ff0000;
}
.footer ul {
  font-size: 15px;
}
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}
